#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.calculator-container{
  background-color: #31363F;
  width: 30rem;
  padding: 1rem;
  height: fit-content;
  text-align: center;
}

.result{
  color: white;
  background-color: #222831;
  height: 8rem;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
}

.previousOutput{
  font-size: 1rem;
  padding-bottom: 10px;
  overflow-y: auto;
}

.calculator-inner{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

.calculator-inner button{
  font-size: 2rem;
  background-color: #31363F;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 5rem;
  border: 1px solid #B4B4B8;
}

.calculator-inner button:hover{
  background-color: #B4B4B8;
}

.ac-container{
  grid-area: 1 / 1 / 2 / 3;
}

.equal-container{
  grid-area: 5 / 3 / 6 / 5;
}
